body {
  background-color: #f7f7f7;
  font-size: 16px;
  line-height: 1.43;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

aside {
  position: sticky;
  top: 15px;
}

img {
  display: flex;
  width: 100%;
  object-position: center;
  object-fit: cover;
}