#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body {
  background-color: #f7f7f7;
  font-size: 16px;
  line-height: 1.43;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

aside {
  position: sticky;
  top: 84px;
}

img {
  display: flex;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.icon {
  width: 24px;
  height: 24px;
  transition: fill 0.3s;
  fill: black;
}

.scroll-style {
	&::-webkit-scrollbar-track {
		background: #e6eaeb;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #cfcfd4;
	}

	&::-webkit-scrollbar {
		width: 2px;
    height: 2px;
	}
}

.fs-6 {
	font-size: 1.1rem!important;
}